<div layout layout-align="center center" layout-fill>
  <div layout="column" class="loginBox md-whiteframe-z5">
    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>Login</span></h2>
    </md-toolbar>
    <md-content layout="column" class="md-padding">
      <md-input-container>
        <input type="email" ng-model="user.username" placeholder="Login"/>
      </md-input-container>
      <md-input-container>
        <input type="password" ng-model="user.password" placeholder="Password" />
      </md-input-container>
      <div layout="row" layout-align="center center" class="login-buttons">
        <md-button class="md-raised md-primary">Login</md-button>
        <div flex="flex"></div>
        <md-button href="" class="md-raised">Forgot Password</md-button>
      </div>
    </md-content>
  </div>
</div>